@CHARSET "UTF-8";
#footer {width:970px;height:60px;margin:0 auto;text-align: center;margin-top: 20px;}
#footer a{
	color:#414141;
}
#footer a:hover{
	color:#09a8dd;
}
body {
    color: #989898;
    font-family: "宋体","Arial Narrow";
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    background-color: #f0f0f0;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
div{
	text-align: left;
}
li {
    list-style-type: none;
}
img {
    border: 0 none;
    vertical-align: middle;
}
*{margin:0;padding:0;}
.clear{
	clear: both;
}
.head {
	height: 60px;
	overflow: hidden;
	position: relative;
	background-image:url("../images/head_bg_red.png");
	background-repeat:repeat-x;
	margin: 0 auto;
	color: white;
}
.head_back_wrapper{
	width: 55px;
	height: 32px;
	float: left;
	overflow: hidden;
	background:url("../images/btn_back.png") no-repeat;
	position: relative;
	left: 5px;
	top: 15px;
}
.head_back_wrapper span{
	position: absolute;
	top: 6px;
	left: 19px;
	color:white;
}
.head_city{
	width: 50px;
	height: 65px;
	float: left;
	position: absolute;
	overflow:hidden;
	left: 0px;
	top: 0px;
}
.city_name{
	color: white;
	font-size: 14px;
	padding: 16px 0 0 10px;
	font-weight: bold;
}
.city_ic{
	padding: 2px 0 0 11px;
}

.head_right{
	width:220px;
	overflow: hidden;
	position: absolute;	
	right: 0px;
	top: 0px;
}
.head_pin{
	width:50px;
	float: right;
	display: block;
	color: white;
}
.pin_ic{
	padding: 15px 0 0 15px;
}
.pin_title{
	padding: 0 0 0 6px;
}
.head_personal_center{
	width:30px;
	float: right;
	padding-right: 27px;
	display: block;
	overflow: hidden;
	color: white;
	margin-right: 8px;
}
.personal_center_ic{
	padding: 15px 0 0 20px;
}
.personal_center_title{
	width: 53px;
	text-align: center;
	padding-left: 4px;
}
.head_cate{
	width:30px;
	float: right;
	padding-right: 28px;
	display: block;
	color: white;
}
.cate_ic{
	padding: 15px 0 0 20px;
}
.cate_title{
	width: 58px;
	text-align: center;
}

.userinfo{
	width: 320px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 14px;
	background-color: white;
	border-bottom: 1px solid #a0a0a0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.userinfo_left{
	width: 75px;
	overflow: hidden;
	padding-left: 5px;
	color: #989898;
	float: left;
}
.userinfo_left img{
	width: 80px;
	height: 80px;
	display: block;
}
.userinfo_left span{
	padding-top: 3px;
	display: block;
}
.userinfo_right{
	width: 200px;
	float: left;
}
.userinfo_right li{
	padding-left: 3px;
	padding-right: 3px;
	height: 20px;
	line-height: 20px;
	color: #585858;
}
.userinfo_right .payway{
	text-align: right;
	color: #cd0001;
}
.userinfo_right .limit b{
	color: #cd0001;
}
.userinfo_right .limit span{
	float: right;
	display: block;
}
.userinfo_right .popularity{
	text-align: right;
}
.userinfo_right .popularity img{
	position: relative;
	top: -2px;
}


.head_split{
	height: 10px;
	background: url("../images/head_split.png") repeat-x;
}
.search{
	height: 40px;
	background-color: #b40000;
	color: white;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
}
.search h1{
	font-size: 18px;
	color: white;
}
.tt{
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #585858;
	font-size: 14px;
	
}
.item_content{
	width: 100%;
	overflow: hidden;
}
.line{
	border-top: 1px solid #cccccc;
	margin-top: 10px;
}
.item_tt{
	line-height: 18px;
	text-align: center;
	color: #585858;
	font-size: 14px;
	padding: 15px 5px 2px 5px;
}
.item_img{padding: 5px;}
.item_img img{width: 100%;}
.item_price_info{
	padding:0 5px 0 5px;
	color: #cc0000;
	overflow: hidden;
}
.item_price_info_left{
	float: left;
}
.item_price_info_left b{
	font-size: 22px;
}
.item_price_info_right{
	float: right;
	font-size: 14px;
}
.item_price_info_right b{
	color: white;
	padding: 3px 4px 3px 4px;
	background-color: #99d201;
}
.buy_wrapper{
	margin-top: 5px;
	height: 42px;
}
.link_button{
	width: 282px;
	height: 42px;
	display: block;
	text-align: center;
	line-height: 42px;
	margin: 0 auto;
	color: white;
	font-size: 16px;
	background-image: url("../images/btn_itemdetail_bg.png");
}
.split_intro{
	margin-top: 10px;
	height: 52px;
	text-align: center;
	line-height: 52px;
	font-size: 16px;
	color: #585858;
	font-weight: bold;
	background: url("../images/sub_bg_white.png") repeat-x;
}
.intro_content{
	text-indent: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #585858;
	padding-left:5px;
	padding-right: 5px;
}
.detail_content{
	padding-left:5px;
	padding-right: 5px;
	color: #585858;
	margin-top: 10px;
}
.detail_content dt{float: left;}
.shop_info{color: #585858;}
.shop_info dt{float: left;}


.foot{
	width: 100%;
	background-color: #f0f0f0;
	overflow: hidden;
	padding: 0px 0px  10px 0px;
}
.login_prompt{
	width:282px;
	overflow: hidden;
	position: relative;
	margin: 12px auto 0px auto;
}
.login_prompt li{
	float: left;
	color: #b03f3f;
	font-size: 14px;
	padding: 0px 0px 0px 30px;
}
.login_prompt .right{
	position: absolute;
	right: 10px;
}
.login_prompt li a{
	color: #b03f3f;
}
.login_prompt li a:hover{
	text-decoration: none;
}
.line{
	border-top: 1px solid #cccccc;
}
.nav{
	width:282px;
	overflow: hidden;
	color: #af4240;
	margin: 8px auto 0px auto;
}
.nav li{
	float: left;
	color: #b03f3f;
	font-size: 14px;
	padding: 0px 0px 0px 30px;
}
.nav li a{
	color: #b03f3f;
}
.copyright{
	width:282px;
	overflow: hidden;
	color: #808080;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	margin: 15px auto 0px auto;
}



















