@CHARSET "UTF-8";
#footer {width:970px;height:60px;margin:0 auto;text-align: center;margin-top: 20px;font-size:12px;font-weight: normal;}
#footer a{
	color:#414141;
}
#footer a:hover{
	color:#09a8dd;
}
body {
    color: #989898;
    font-family: "宋体","Arial Narrow";
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
*{padding:0;margin:0;}
a {
    text-decoration: none;
    color: #404040;
}
div{
	text-align: left;
}
*{margin:0;padding:0;}
.clear{
	clear: both;
}
.list_tt{
	height: 38px;
	line-height: 38px;
    margin: 2px auto;
    overflow: hidden;
    width: 970px;
    padding-left:5px;
    color:#262626;
}
.list_tt a{
	text-decoration: underline;
	color:#3399ff;
}
.list_tt a:hover{
	color:#3399ff;
}
.player_bg{
    background: url("../images/player_widebg.png") repeat-x scroll left bottom #030303;
    position: relative;
    z-index: 4;
}
.player{
	height: 540px;
	background: none repeat; scroll 0 0 #000000;
	margin:0 auto;
	overflow: hidden;
	position: relative;
	width: 970px;
	z-index: 4;
}
.intro{
	width:968px;
	overflow: hidden;
	border:1px solid #e5e5e5;
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
	background-color: white;
}
.intro_tt{
	color: #008ad8;
	height:34px;
	line-height: 34px;
	overflow: hidden;
	padding:0 10px 0 20px;
	background: url("../images/sprite_2.png") repeat-x scroll 0 0 transparent;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: left;
}
.intro_tt a{
	position: absolute;
	right:5px;
	color:#008ad8;
}
.intro_tt a:hover{
	text-decoration: none;
}
.intro_con{
	overflow: hidden;
	padding-top:9px;
}
.intro_con_num{
	overflow: hidden;
	padding-top:9px;
	padding-bottom:5px;
}
.intro_con_num li{
	padding:0 5px 0 20px;
	color: #000;
	font-size: 12px;
	height:22px;
	font-weight: normal;
	float: left;
	width: 50px;
	overflow: hidden;
}
.intro_con_num li a{
	color:#1e1e1e;
	font-size:12px;
}
.intro_con_num li a:hover{
	color:#008ad8;
	font-size:12px;
	text-decoration: underline;
}
.intro_con_num li .on{
	color:#008ad8;
	font-weight: bold;
}
.intro_con li{
	padding:0 10px 0 20px;
	color: #000;
	font-size: 12px;
	height:22px;
	font-weight: normal;
}
.intro_con_2{
	overflow: hidden;
	padding-top:9px;
	padding-bottom:9px;
}
.intro_con_2 li{
	padding:0 10px 0 20px;
	color: #000;
	font-size: 12px;
	font-weight: normal;
}


.wrapper_box{
	width:971px;
	overflow:hidden;
	border: 1px solid #e5e5e5;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
}

.main{
	
}
.box_tt{
	height: 34px;
    line-height: 34px;
    overflow: hidden;
    position: relative;
    background: url("../images/sprite_2.png") repeat-x scroll 0 0 transparent;
}
.box_tt a:hover{
	text-decoration: none;
}
.box_tt_left{
	font-size: 14px;
	display: block;
	float:left;
	font-weight: bold;
	color:#008ad8;
	padding:0 10px 0 20px;
}

.box_tt_right {
	position: absolute;
	right: 5px;
	color: #7f7f95;
	font-family: "微软雅黑";
	cursor: pointer;
}
.box_tt_right:hover{
	position: absolute;
	right: 5px;
	color:#008ad8;
	font-family: "微软雅黑";
	text-decoration: underline;
}
.movielist{
	overflow: hidden;
}
.movielist li{
	width: 104px;
	height: 200px;
	float: left;
	overflow: hidden;
	position: relative;
	display: inline;
	margin-left: 15px;
	margin-top: 15px;
}
.movielist_img{
	height: 140px;
    width: 100px;
    display: block;
    border:1px solid #dddddd;
    padding:1px;
}
.movielist_img img{
	border:0px;
}
.movielist_img:hover{
    border:1px solid #179ae0;
}
.movielist_img img{
	height: 140px;
    width: 100px;
}
.movielist_row_1{
	height: 18px;
	position: relative;
	overflow: hidden;
	margin-top: 3px;
}
.movielist_row_1_name{
	max-width: 90px;
	height: 18px;
	overflow: hidden;
	display: block;
	float: left;
	color: #3d3d3d;
	font-size: 13px;
}
.movielist_row_1_name:hover{
	color: #02a1d9;
}
.movielist_row_1_play{
	width: 10px;
	height: 10px;
	display: block;
	background: url("../images/foucerank.png") no-repeat -237px -100px;
	position: absolute;
	right:1px;
	top:4px;
}
.movielist_row_2{
	color:#aaaaaa;
	max-width: 130px;
	overflow: hidden;
	height:18px;
}



