@CHARSET "UTF-8";
#footer {width:970px;height:60px;margin:0 auto;text-align: center;margin-top: 20px;}
#footer a{
	color:#414141;
}
#footer a:hover{
	color:#09a8dd;
}
body {
    color: #989898;
    font-family: "宋体","Arial Narrow";
    font-size: 12px;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
*{padding:0;margin:0;}
a {
    text-decoration: none;
    color: #404040;
}
div{
	text-align: left;
}
*{margin:0;padding:0;}
.clear{
	clear: both;
}
.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 970px;
}
.wrapper{
	margin: 0 auto;
    overflow: hidden;
    width: 970px;
    margin-top: 10px;
}
.wrapper .hot{
	border: 1px solid #DDDDDD;
    overflow: hidden;
    width: 968px;
    background-color: white;
}
.hot_tt{
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 10px 0 20px;
    background: url("../images/sprite_2.png") repeat-x scroll 0 0 transparent;
    position: relative;
}
.hot_tt h2{
	color: #09a8dd;
    float: left;
    font-family: "Microsoft Yahei";
    font-size: 18px;
}
.hot_tt a{
	display: block;
	position: absolute;
	right: 8px;
	color: #3c3c3c;
}
.hot_tt a:hover{
	color: #a04cb2;
	text-decoration: underline;
}
.animelist{
	overflow: hidden;
}
.animelist a{
	display: block;
    float: left;
    overflow: hidden;
    position: relative;
    height: 20px;
    margin: 10px 5px 10px 0px;
    text-align: center;
    width: 100px; 
    color:#07519a;
}
.animelist a:hover{
    color:#0ac5f1;
    text-decoration: underline;
}
.animelist span{
	display: block;
    float: left;
    overflow: hidden;
    position: relative;
    height: 20px;
    margin: 10px 5px 10px 0px;
    text-align: center;
    width: 110px;
    color: #07519a;
    font-size: 14px;
    font-weight: bold;
}